!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameKit</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body  >
<audio id="music" src="../public/images/song.mp3" autoplay loop></audio>
<button class="users" type="button"></button>
<button class="opt" type="button" onclick="getOptions()"></button>
<button class="music" id="musicBtn" type="button" style="display: none" onclick="ison = getMusic(ison)"></button>
<button class="infobutton" id="infoBtn" type="button" style="display: none"></button>
</body>
<script>
    function getOptions() {
        let m = document.getElementById("musicBtn");
        let i = document.getElementById("infoBtn");
        if (m.style.display === "none") {
            m.style.display = "block";
        } else {
            m.style.display = "none";
        }
        if (i.style.display === "none") {
            i.style.display = "block";
        } else {
            i.style.display = "none";
        }
    }

    function getMusic(audiostatus) {
        let getaudio = document.getElementById('music');
        if (audiostatus === 'off') {
            getaudio.load();
            getaudio.play();
            audiostatus = 'on';
        } else if (audiostatus === 'on') {
            getaudio.pause();
            audiostatus = 'off';
        }
        return audiostatus
    }
</script>
</html>