.game1b{
	background-image: url("maxresdefault.jpg");
	width: 300px;
	height: 300px;
	border-color: brown;
	border-radius: 15px;
	box-shadow: 0 5px #666;
	cursor: pointer;
	outline: none;
	position: absolute; /* or absolute */
    top: 50%;
	left: 50%;
}

.game1b:active {
  box-shadow: 0 3px #666;
  outline: none;
}